$minvalue: "(max-width: 369px)";
$minmobile: "(min-width: 370px)";
$xsmobile: "(min-width: 399px)";
$smobile: "(min-width: 615px)";
$mobile: "(min-width: 767px)";

$xtablet: "(min-width: 992px)";
$tablet: "(min-width: 1200px)";

$spc: "(min-width: 1425px)";

$pcfullhd: "(min-width: 1920px)";
$pcquadhd: "(min-width: 2560px)";
$pc4k: "(min-width: 3840px)";